.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
    align-items: center;
    justify-items: center;
    min-height: 100dvh;
    font-family: var(--font-roboto);
}

.nav {
    grid-area: nav;
}

.nav li {
    list-style: none;
    display: inline;
    margin: 0 1em;
}

.main {
    grid-area: main;
    margin: 3em;
}

.footer {
    grid-area: footer;
    gap: 3em;
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }
}
